body{
    background: #efefef;
    font-family: NSimSun;
}
.main{
    margin: 30px 50px 50px 50px;
    background: white;
}

.publish_btn {
    float: right;
    margin-bottom: 15px;
}
.comment_num {
    margin-top: 15px;
}
.question-content {
    margin: 25px 10px 25px 10px;
    font-size: 25px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 30px;
    font-size: 25px;
    margin-left: 0;
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.head_img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.community-menu {
    color: #999;
    font-size: 13px;
}

.jumbotron {
    margin: 50px;
}


.comment{
    margin: 10px 10px 10px 10px;
}
.comment-btn{
    float: right;
    margin-bottom: 10px;
}
.comment-sp {
    margin-top: 0;
}

.media-body .comment-content{
    margin: 10px;
    font-size: 22px;
}

.media-body .comment-head {
    font-size: 13px;
    color: #999999;
    margin-left: 10px;
}
.media-bottom {
    color: #999999;
    font-size: 12px;
    margin-left: 70px;
}

.media-bottom .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.media-bottom .active {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
    color: #499ef3;
}
.media-bottom .icon:hover {
    color: #499ef3;
}
.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.second-comment {
    border: 1px solid #eeeeee;
    margin: 20px 10px 20px 55px;
    font-size: 20px;
    padding: 10px;
}

