<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>默</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
<body>
<script type="application/javascript">
    window.onload = function (ev) {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<div th:insert="~{navigration :: nav}">
</div>


<div class="container-fluid main">
    <div class="row">

        <div class="col-lg-9 col-md-12 col-xs-12 col-sm-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true">发现</span></h2>
            <hr/>
            <div th:if="${paginationDto.dataList == null || paginationDto.dataList.size() == 0}">
                <h1>你搜索的问题不存在哦</h1>
            </div>
            <div th:if="${paginationDto.dataList != null}">
                <div class="media" th:each="question,index:${paginationDto.dataList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object head_img img-circle"
                             th:src="${question.user.headImg == null ? '/img/preview.jpg' : question.user.headImg}"
                             alt="头像"/>
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <a th:href="@{'question/'+${question.id}}" th:text="${question.title}"></a>
                    </h3>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 question-content" style="height: 200px;"
                         th:id="${'question-markdown-view-' + index.index}">
                        <textarea style="display: none;" th:text="${question.description}"></textarea>
                    </div>
                    <br/>

                    <!--<span th:text="${question.description}"></span>-->
                </div>
                <div class="media-bottom text-desc">
                    <span th:text="${question.commentCount == null ? '0': question.commentCount}"></span>个回复&nbsp;
                    <span th:text="${question.viewCount == null ? '0' : question.viewCount}"></span>浏览数&nbsp;
                    <span th:text="${#dates.format(question.gmtCreate,'yyyy/MM/dd')}"></span>发布&nbsp;
                </div>
                <hr/>
            </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${paginationDto.showFirstPage}">
                        <a th:href="@{'/?'+ ${search != null ? 'search='+search+'&':''} +'page=1'}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDto.showPrevious}">
                        <a aria-label="Previous"
                         th:href="@{'/?'+ ${search != null ? 'search='+search+'&':''} + 'page='+${paginationDto.page - 1}}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page:${paginationDto.pages}" th:class="${paginationDto.page==page}?'active':''">
                        <a th:href="@{'/?'+ ${search != null ? 'search='+search+'&':''} + 'page='+${page}}" th:text="${page}">
                        </a>
                    </li>

                    <li th:if="${paginationDto.showNext}">
                        <a th:href="@{'/?'+ ${search != null ? 'search='+search+'&':''} + 'page='+${paginationDto.page + 1}}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDto.showEndPage}">
                        <a th:href="@{'/?'+ ${search != null ? 'search='+search+'&':''} + 'page='+${paginationDto.totalPage}}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12" style="border-left: #0f0f0f">
            <h3>热门话题</h3>
        </div>
    </div>

<script>
    for (var i=0;i<5;i++) {
        editormd.markdownToHTML("question-markdown-view-" + i, {

        });
    }



</script>
</div>

</body>
</html>