<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Opengraph tags-->

    <link rel="stylesheet" href="/css/bundle-home.css">
    <!--<script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>-->
    <script src="/js/bundle-home.js"></script>
    <!-- Global site tag (gtag.js) - Google Ads: 939457589 -->
    <script>window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'AW-939457589');
    </script>
    <script type="text/javascript">adroll_adv_id = "2MRQCDJFJ5ECPBITSV4TL2";
    adroll_pix_id = "C6C2B5WSCZF6DEPMMYXB24";

    (function () {
        var _onload = function () {
            if (document.readyState && !/loaded|complete/.test(document.readyState)) {
                setTimeout(_onload, 10);
                return
            }
            if (!window.__adroll_loaded) {
                __adroll_loaded = true;
                setTimeout(_onload, 50);
                return
            }
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {
            window.addEventListener('load', _onload, false);
        }
        else {
            window.attachEvent('onload', _onload)
        }
    }());
    </script><!--if lt IE 9script(src="//html5shim.googlecode.com/svn/trunk/html5.js")-->

</head>
<body id="register" class="unloaded">
<div class="wrapper">
    <header>
        <nav role="navigation" class="navbar navbar-default">
            <div class="container"><!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            class="navbar-toggle">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <!--<a href="https://dash.readme.io/" class="navbar-brand">ReadMe.io</a>-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse"><!-- For 404 page-->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login.html" class="login-top">登录<span></span></a></li>
                        <li class="signup-top-parent"><a href="/regist.html" class="signup-top active">注册<span></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="login">
        <div id="signup-background">
            <div class="container books">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-1 col-md-7 col-sm-8 col-xs-12">
                        <div id="form-parent">
                            <div id="form-slider">
                                <form id="signup-main" action="/signup" method="post"
                                      class="container offset1 loginform form-horizontal">
                                    <div class="pad">
                                        <h2>注册页面</h2>
                                        <input type="hidden" name="hash" class="form-control">
                                        <div class="form-group">
                                            <label for="email" class="control-label col-sm-4">
                                            <div class="fa fa-envelope"></div>
                                            <span>E-mail</span></label>
                                            <div class="controls col-sm-8">
                                                <input id="email" type="email" name="email"
                                                       placeholder="gavin@hooli.com" value=""
                                                       tabindex="1" autofocus="true"
                                                       data-step="1" required=""
                                                       class="form-control validate-style">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="control-label col-sm-4">
                                                <div class="fa fa-user"></div>
                                                <span>Full name</span>
                                            </label>
                                            <div class="controls col-sm-8">
                                                <input id="name" type="text" name="name"
                                                       placeholder="Gavin Belson" value=""
                                                       tabindex="2" data-step="2" required=""
                                                       class="form-control validate-style">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="control-label col-sm-4">
                                                <div class="fa fa-asterisk"></div>
                                                <span>Password</span>
                                            </label>
                                            <div class="controls col-sm-8">
                                                <input id="password" type="password"
                                                       name="password" placeholder="*******"
                                                       tabindex="3" autocomplete="false"
                                                       data-step="3" required=""
                                                       minlength="8"
                                                       class="form-control validate-style">
                                                <p class="info">Minimum 8 characters; must have two of the following:
                                                    lower case, uppercase, numbers and symbols</p>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="hidden" name="beta" value="docsrock"
                                                   class="form-control">
                                            <input type="hidden" name="alias"
                                                   value="5d425c402a913d00424aaef5"
                                                   class="form-control"></div>
                                    </div>
                                    <div class="form-actions">
                                        <a href="/login.html" tabindex="6"
                                           class="btn btn-link show-login text-muted">登录</a>
                                        <button type="submit" tabindex="5" class="btn btn-primary">注册</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-signup step1">
                    <div class="owl-foot-blocker"></div>
                    <div class="owl-body">
                        <div class="owl-eye left"></div>
                        <div class="owl-eye right"></div>
                    </div>
                    <div class="owl-arm"></div>
                    <div class="owl-feet"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>